__pycache__/
*.pyc
.venv/
env/

data/raw/*
!data/raw/
!data/raw/.gitkeep

data/processed/*
!data/processed/
!data/processed/.gitkeep

data/analysis_ready/*
!data/analysis_ready/
!data/analysis_ready/.gitkeep

outputs/*
!outputs/

outputs/tables/*
!outputs/tables/
!outputs/tables/.gitkeep

outputs/figures/*
!outputs/figures/

outputs/figures/scatter_regression/*
!outputs/figures/scatter_regression/
!outputs/figures/scatter_regression/.gitkeep

outputs/figures/correlation_posterior/*
!outputs/figures/correlation_posterior/
!outputs/figures/correlation_posterior/.gitkeep

outputs/figures/regression_beta_posterior/*
!outputs/figures/regression_beta_posterior/
!outputs/figures/regression_beta_posterior/.gitkeep

outputs/figures/regression_parameters_posterior/*
!outputs/figures/regression_parameters_posterior/
!outputs/figures/regression_parameters_posterior/.gitkeep

outputs/models/*
!outputs/models/
!outputs/models/.gitkeep

outputs/text/*
!outputs/text/
!outputs/text/.gitkeep

.DS_Store
Thumbs.db